In [8]:
nome = "Joao"
idade = 25

print (f"Alo {nome}, sua idade e {idade}")

Alo Joao, sua idade e 25

In [18]:
lista_compra = [10, 29, 30, 45, 100]
lista_compra[:3]

[10, 29, 30]

In [20]:
soma = 0
for item in lista_compra:
    soma = soma + item
print(soma)

214

In [23]:
!wget https://raw.githubusercontent.com/esensato/ssa-2026-01/refs/heads/main/pedidos.csv

--2026-02-09 23:21:55--  https://raw.githubusercontent.com/esensato/ssa-2026-01/refs/heads/main/pedidos.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 98 [text/plain]
Saving to: ‘pedidos.csv’

pedidos.csv         100%[===================>]      98  --.-KB/s    in 0s

2026-02-09 23:21:55 (1.78 MB/s) - ‘pedidos.csv’ saved [98/98]

In [25]:
import pandas as pd

In [48]:
df = pd.read_csv("pedidos.csv")
df["qtde"] * df["preco"]

0     5.1
1     6.0
2    10.0
dtype: float64

In [54]:
import requests

In [65]:
def obter_cep(codigo_cep):
  url = f"https://viacep.com.br/ws/{codigo_cep}/json/"
  print (url)
  return requests.get(url).json()["logradouro"] + ", " + requests.get(url).json()["localidade"]

In [66]:
obter_cep("20040-020")

https://viacep.com.br/ws/20040-020/json/

'Praça Pio X, Rio de Janeiro'

In [67]:
df["rua"] = df["cep"].apply(obter_cep)

https://viacep.com.br/ws/01001-000/json/
https://viacep.com.br/ws/20040-020/json/
https://viacep.com.br/ws/30130-010/json/

In [68]:
df

   id     nome  qtde  preco        cep                                     rua
0   1  Laranja     6   0.85  01001-000                  Praça da Sé, São Paulo
1   2   Banana    12   0.50  20040-020             Praça Pio X, Rio de Janeiro
2   3      Uva     1  10.00  30130-010  Praça Sete de Setembro, Belo Horizonte

In [71]:
def pesquisa_universidade(nome, pais):
  url = f"http://universities.hipolabs.com/search?name={nome}&country={pais}"
  return requests.get(url).json()

In [ ]:
for resultado in pesquisa_universidade("Univ", "brazil"):
  print(resultado["name"])

In [77]:
df["total"] = df["preco"] * df["qtde"]
df

,id,nome,qtde,preco,cep,rua,total
0,1,Laranja,6,0.85,01001-000,"Praça da Sé, São Paulo",5.1
1,2,Banana,12,0.50,20040-020,"Praça Pio X, Rio de Janeiro",6.0
2,3,Uva,1,10.00,30130-010,"Praça Sete de Setembro, Belo Horizonte",10.0

In [79]:
df.to_csv("saida.csv")